.header {

    display: flex;
    padding: 12px 12px 12px 12px;
    border-bottom: 0.6px solid rgb(222, 222, 222);

    .hamburger-container {
        display: flex;
    }

    .title {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: #007bff;

        h1 {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            margin: 0;
        }
    }

    svg {
        width: 20px;
    }
}

.menu {

    background-color: rgba(32, 33, 36, 0.95);
    color: white;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;

    @media only screen and (min-width: 844px) {
        width: 25vw;
    }

    .flex-wrapper {
        display: flex;
    }

    svg {
        width: 40px;
        height: 40px;
    }

    .back-arrow {
        padding: 0 20px 0 20px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        margin: 16px 0 20px 0;
    }

    .menu-header {
        flex: 1 1 auto;
    }

    .grid-wrapper {
        margin-left: 30px;
        display: grid;

        nav {
            display: grid;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.hidden {
    display: none;
}

.slideIn {
    animation: slideInAnimation 0.3s ease-in-out forwards;
}

@keyframes slideInAnimation {
    from {
        transform: translateX(-100vw);
    }


    to {
        transform: translateX(0);
    }
}